<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_est.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="title">Editar Estudiante</h1>
        <form class="form" action="" method="post">
            <input class="form-input" type="text" name="nombre" id="nombre" value="{{lista_est[2]}}"
                placeholder="Ingrese Nombre" required>
            <input class="form-input" type="text" name="apellido" id="apellido" value="{{lista_est[3]}}"
                placeholder="ingrese Apellido" required>
            <input class="form-input" type="text" name="codigo" id="codigo" value="{{lista_est[1]}}" disabled>
            <input class="form-input" type="number" name="edad" id="edad" value="{{lista_est[4]}}"
                placeholder="Ingrese edad del Estudiante" required>

            <button class="form-button" type="submit">Guardar Datos</button>

            <button class="main-button" type="button">
                <a href="/">Regresar A Inicio</a>
            </button>
        </form>
    </div>
</body>

</html>