<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <title>Crud_Notas</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="brand">
                <h1>Crud</h1>
            </div>

            <ul class="menu">
                <li class="menu-item">Inicio</li>
                <li class="menu-item"><a href="./nuevo_estudiante">Registrar estudiante</a></li>
            </ul>
        </div>
    </nav>
    <h2>Autores: Juan Naranjo, Samuel Bolivar, Daniel Pinzon</a></h2>

    <table class="container">
        <thead>
            <tr>
                <th>
                    <h1>ID</h1>
                </th>
                <th>
                    <h1>CODIGO</h1>
                </th>
                <th>
                    <h1>NOMBRE</h1>
                </th>
                <th>
                    <h1>APELLIDO</h1>
                </th>
                <th>
                    <h1>EDITAR</h1>
                </th>
                <th>
                    <h1>INFORMACION</h1>
                </th>
                <th>
                    <h1>INSCRIBIR</h1>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for reg in lista_est %}
            <tr>
                <td>{{reg[0]}}</td>
                <td>{{reg[1]}}</td>
                <td>{{reg[2]}}</td>
                <td>{{reg[3]}}</td>
                <td class="editar" id="editar"><a href="/editar/{{reg[0]}}" id="editlink">Editar</a></td>
                <td class="info" id="info"><a href="/perfil/{{reg[0]}}/" id="infolink">Informacion</a></td>
                <td class="inscribir" id="inscribir"><a href="/inscribir/{{reg[0]}}/" id="inscribirlink">Inscribir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='js/dinamic.js') }}"></script>
</body>
</html>