<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscribir</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_est.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="brand">
                <h1 class="title">Crud</h1>
            </div>

            <ul class="menu">
                <li class="menu-item"><a href="/">Inicio</a></li>
                <li class="menu-item"><a href="/nuevo_estudiante">Registrar estudiante</a></li>
                <li class="menu-item"><a href="/lista_auditoria/">Tabla Auditoria</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <form style="height: 28rem; margin: 0;" class="form" method="post">
            <select class="form-input" name="asignatura" id="asignatura">
                <option>Seleccionar Asignatura</option>
                {% for row in lista_as %}
                <option value="{{row[0]}}">{{row[2]}}</option>
                {% endfor %}
            </select>

            <input class="form-input" type="number" step="0.01" name="nota1" id="nota1" required
                placeholder="Insertar Nota 1"></td>
            <input class="form-input" type="number" step="0.01" name="nota2" id="nota2" required
                placeholder="Insertar Nota 2"></td>
            <input class="form-input" type="number" step="0.01" name="nota3" id="nota3" required
                placeholder="Insertar Nota 3"></td>

            <button class="form-button" type="submit">Guardar</button>

            {% if message %}
            <h2 class="success-message">{{message}}</h2>
            {% endif %}
        </form>
    </div>



</body>

</html>