<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro de Nuevo estudiante</h1>
    <form action="" method="post">
        <table>
            <td>
                <input type="text" name="nombre" id="nombre" placeholder="Ingrese Nombre" required>
            </td>
            <td>
                <input type="text" name="apellido" id="apellido" placeholder="ingrese Apellido" required>
            </td>
        </table>
        <table>
            <td>
                <input type="text" name="codigo" id="codigo" placeholder="Ingrese Codigo del Estudiante" required>
            </td>
            <td>
                <input type="number" name="edad" id="edad" placeholder="Ingrese edad del Estudiante" required>
            </td>
        </table>
        <table>
            <td>
                <button type="submit">Guardar Datos</button>
            </td>
            <td>
                <button type="button"><a href="/">Regresar a Inicio</a></button>
            </td>
        </table>
    </form> 
    {% if mensaje %}
        <script>alert('Este estudiante ya esta registrado')</script>
    {% endif %}
</body>
</html>