<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
</head>
<body>
    
    <h1>Perfil de {{lista[0][2]}} {{lista[0][3]}}</h1>
    <div style="padding-left: 12rem; padding-right: 12rem; width: 100%; display: flex; justify-content: center; align-items: center;">
                <button style="margin: 3rem;" class="form-button" type="button"><a href="/eliminar_est/{{lista[0][0]}}/">
                    Desmatricular Estudiante
                </a></button>
                <button class="main-button" type="button"><a href="/">Regresar a Inicio</a></button>
    </div>

    <table class="container">
        <thead>
            <tr>
                <td>Nota 1</td>
                <td>Nota 2</td>
                <td>Nota 3</td>
                <td>Promedio</td>
                <td>Codigo</td>
                <td>Nombre Asignatura</td>
                <td>Eliminar</td>
            </tr>
        </thead>
          <tbody>
              {% for row in lista_plan %}
              <tr>
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  <td>{{row[6]}}</td>
                  <td>{{row[7]}}</td>
                  <td>
                      <button class="delete-button" type="button">
                          <a href="/eliminar_pl/{{row[5]}}/{{row[4]}}/">Eliminar</a>
                      </button>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
    </table>
    {% if message %}
        <script>alert('Desmatriculado de Asignatura')</script>
    {% endif %}
</body>
</html>